.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#showcase img {
  cursor: pointer;
}
footer {
  display: block;
  position: relative;
}

.cloud9-item {
  filter: blur(2px) brightness(50%);
  margin-bottom: 500px;
}

.frontItemClass {
  filter: blur(0px);
}